<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="width: 600px;">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <h1 class="mb-5">User Settings</h1>

                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput id="name" [(ngModel)]="user.first_name" name="name" />
                        <!-- <mat-error *ngIf="loginForm.invalid">
                            Please enter a valid email address
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Surname</mat-label>
                        <input matInput id="surname" name="surname"[(ngModel)]="user.last_name"/>
                        <!-- <mat-error *ngIf="loginForm.invalid">
                            Please enter a valid email address
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Phone Number</mat-label>
                        <input matInput id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"/>
                        <!-- <mat-error *ngIf="loginForm.invalid">
                            Please enter a valid email address
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Email Address</mat-label>
                        <input matInput type="email" id="email" name="email" email [(ngModel)]="user.email" />
                        <!-- <mat-error *ngIf="loginForm.invalid">
                            Please enter a valid email address
                        </mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Backup Contact</mat-label>
                        <input matInput type="email" id="backupNumber" name="phoneNumber" [(ngModel)]="user.backupPhoneNumber"/>
                        <!-- <mat-error *ngIf="loginForm.invalid">
                            Please enter a valid email address
                        </mat-error> -->
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="w-50" (click)="save()">Save</button>

                </div>
            </div>
        </div>
    </div>
</div>