/* app.component.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  text-align: center;
}

.login-box {
  max-width: 600px;
  min-width: 500px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.login-form .btn-primary {
  margin-top: 16px;
  width: 50%;
  /* Make the button 100% width of its container */
}

.form-group {
    margin-top: 16px;
    width: 100%;
}

/* Rest of the styles remain the same */
