<div class="h-100">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Easy QR Tag</span>
    <span class="spacer"></span>
    <button (click)="logoutUser()" mat-icon-button aria-label="Logout" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="d-flex flex-row h-100">
    <div class="col-md-4 border">
      <mat-selection-list class="pt-2 pb-2">
        <div class="qr-list-header">
          <div matSubheader>QR Items</div>
        </div>
        <div *ngFor="let qrItem of qrList; index as i">
          <mat-list-item class="qr-list-item" [ngClass]="{'current-selected-item' : selectedIndex === i}"
            (click)="onClickOnQR(i)">
            <mat-icon matListItemIcon>qr_code_2</mat-icon>
            <div matListItemTitle>{{qrItem.qrCode.id}}</div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>

      </mat-selection-list>
    </div>
    <div class="col-md-8 border pt-2 pb-2">
      <div *ngIf="selectedIndex > -1" class="col-12">
        <div class="qr_item_detail">
          <div matSubheader>QR Detail</div>
        </div>
        <div class="col-12 container-fluid mt-4">
          <mat-slide-toggle class="w-100" color="primary">
            Show Phone Number
          </mat-slide-toggle>

          <mat-slide-toggle class="w-100" color="primary">
            Show Message
          </mat-slide-toggle>

          <mat-slide-toggle class="w-100" color="primary">
            QR in Use
          </mat-slide-toggle>

          <mat-slide-toggle class="w-100" color="primary">
            Accept Contact
          </mat-slide-toggle>

          <mat-slide-toggle class="w-100" color="primary">
            Use Backup Number
          </mat-slide-toggle>

          <mat-form-field>
            <mat-label>Choose an option</mat-label>
            <mat-select>
              <mat-option value="invisible">Invisible</mat-option>
              <mat-option value="visible">Visible</mat-option>
              <mat-option value="message_visible">Message Visible</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Message when QR is scanned</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>

      </div>

    </div>
  </div>
</div>

<!--<div class="vh-100 align-items-center">
    <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">QR Code {{qrCodeId}} Details</h5>
            <p class="card-text">Yooooooo</p>
          </div>
        </div>
      </div>
  </div>-->
