<div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Add your list view here -->
        <div class="list-view">
          <h4>List View</h4>
          <ul class="list-group">
            <li class="list-group-item">Item 1</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 3</li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="chat-container">
          <div class="chat">
            <div class="chat-message user">
              <p>Hello, I'm ChatGPT! How can I assist you today?</p>
            </div>
            <!-- Add more chat messages here -->
          </div>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Type your message..."
            />
            <div class="input-group-append">
              <button class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  