.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: rgb(73, 240, 145);
    color: #ffffff;
}



.qr-image-list-item{
  padding: 10px;
}


.sort-hover-active {
  background-color: rgb(73, 240, 145) !important;
}


