<div class="d-flex flex-row">
  <div class="col-md-4 border">
    <mat-selection-list class="pt-2 pb-2">
      <div class="qr-list-header">
        <div matSubheader class="font-bold">QR Items</div>
      </div>
      <div *ngFor="let qrItem of qrList; index as i">
        <mat-list-item class="qr-list-item" [ngClass]="{'current-selected-item' : selectedIndex === i}"
          (click)="onClickOnQR(i)">
          <mat-icon matListItemIcon>qr_code_2</mat-icon>
          <div [matTooltip]="qrItem.name || qrItem.qrCode.id.toString()" class="list-item-name">{{qrItem.name || qrItem.qrCode.id}}</div>
          <span [matTooltip]="qrItem.description" class="list-item-description">{{qrItem.description || "-- No Description --"}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

    </mat-selection-list>
  </div>
  <div class="col-md-4 border pt-2 pb-2 d-flex flex-column">
    <div *ngIf="selectedIndex > -1" class="col-md-12">
      <div class="qr_item_detail">
        <div matSubheader class="font-bold">QR Detail</div>
      </div>
      <div class="col-12 container-fluid mt-4">
        <mat-slide-toggle class="w-100 mt-1" color="primary" [(ngModel)]="selectedItem.inUse">
          QR in Use
        </mat-slide-toggle>

        <mat-slide-toggle class="w-100 mt-1" color="primary" [(ngModel)]="selectedItem.acceptContact">
          Accept Contact
        </mat-slide-toggle>

        <mat-slide-toggle class="w-100 mt-1" color="primary" [(ngModel)]="selectedItem.useBackupNumber">
          Use Backup Number
        </mat-slide-toggle>

        <mat-form-field class="w-100 mt-3">
          <mat-label>Choose an option</mat-label>
          <mat-select [(ngModel)]="selectedItem.dataVisibility">
            <mat-option [value]="userShowType.INVISIBLE">Invisible</mat-option>
            <mat-option [value]="userShowType.VISIBLE">Visible</mat-option>
            <mat-option [value]="userShowType.MESSAGE_VISIBLE">Message Visible</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>QR Name</mat-label>
          <input matInput [(ngModel)]="selectedItem.name">
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>QR Description</mat-label>
          <input matInput [(ngModel)]="selectedItem.description">
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Message when QR is scanned</mat-label>
          <textarea rows="5" matInput [(ngModel)]="selectedItem.message"></textarea>
        </mat-form-field>

      </div>

    </div>

    <div class="row justify-content-center">
      <button mat-raised-button color="primary" class="w-50 justify-content-center" (click)="save()">Save</button>
    </div>

  </div>
  <div class="col-md-4 border">
    <mat-selection-list class="pt-2 pb-2">
      <div class="qr-list-header">
        <div matSubheader class="font-bold">Founders</div>
      </div>
      <div *ngFor="let founderItem of selectedItem.foundQRList; index as i">
        <div class="d-flex p-2">
          <div class="fill-parent">
            <p class="text-middle">{{founderItem.message}}</p>
          </div>
          <mat-list-button class="qr-list-item" (click)="onClickOnQR(i)">
            <button mat-raised-button color="primary" (click)="acceptFounder(founderItem.id)">Accept</button>
          </mat-list-button>
        </div>
        <mat-divider></mat-divider>
      </div>

    </mat-selection-list>
  </div>
</div>