.spacer {
    flex: 1 1 auto;
}

.logo-font {
    font-family: "Audiowide";
    color: var(--background-color);
}

a:visited {
    color: var(--background-color);
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.toolbar {
    background: rgb(8, 25, 71);
}

.icon {
    color: var(--background-color);
}