.small-info {
    display: block;
    text-align: left;
    font-size: 11px;
    color: #909090;
    margin-top: 0.25rem;
}

.info-icon {
    position: absolute;
    left: calc(100% - 6px);
    top: 6px;
    width: 16px;
    height: 16px;
    font-size: 16px;
  }