<nav class="navbar navbar-expand-lg navbar-light bg-light gradient-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>

      <li class="nav-item">
        <a routerLink="" class="nav-link">Get QR Codes</a>
      </li>

      <li class="nav-item">
        <a routerLink="" class="nav-link">About</a>
      </li>

      <li class="nav-item">
        <a routerLink="" class="nav-link">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Welcome to QR Code</h1>
      <img src="../../assets/qr_logo.png" class="rounded mx-auto d-block img-fluid" alt="QR Code Logo" style="width: 100px; height: 100px;">

      <br><br>

      <div class="card-deck">

        <div class="card gradient-custom">
          <img src="../../assets/qr_logo.png" alt="Image 1" class="card-img-top" style="width: 200px; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">1</h5>
            <p class="card-text">Best QR Codes</p>
          </div>
        </div>

        <br>

        <div class="card gradient-custom">
          <img src="../../assets/qr_logo.png" alt="Image 1" class="card-img-top" style="width: 200px; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">2</h5>
            <p class="card-text">Stylize your qr codes</p>
          </div>
        </div>

        <br>

        <div class="card gradient-custom">
          <img src="../../assets/qr_logo.png" alt="Image 1" class="card-img-top" style="width: 200px; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">3</h5>
            <p class="card-text">Enter your contact</p>
          </div>
        </div>

        <br>

        <div class="card gradient-custom">
          <img src="../../assets/qr_logo.png" alt="Image 1" class="card-img-top" style="width: 200px; height: 200px;">
          <div class="card-body">
            <h5 class="card-title">4</h5>
            <p class="card-text">Nothing will be lost</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>