<div class="vh-100 gradient-custom">
<section>
  <div class="pt-4">
    <app-logo></app-logo>
  </div>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5" >
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h1 style="font-size: xx-large;">Not Found</h1>
            <br>
            <h4 class="text-justify">
              Sorry, this page cannot be reached
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>