<section class="vh-100 gradient-custom">
  <div class="">
    <img src="../../assets/register_qr.svg" class="rounded mx-auto d-block img-fluid" alt="QR Code Logo"
      style="width: 150px; height: 150px;">
  </div>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="width: 600px;">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <mat-form-field class="w-100">
              <mat-label>Message when QR is scanned (Optional)</mat-label>
              <textarea matInput [(ngModel)]="message"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" class="w-50" (click)="registerQR()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
