<section class="vh-100 gradient-custom">
  <div class="fixed-top">
    <img src="../../assets/register_qr.svg" class="rounded mx-auto d-block img-fluid" alt="QR Code Logo"
      style="width: 250px; height: 250px;">
  </div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="width: 600px;">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <button mat-raised-button color="primary" class="w-50" (click)="registerQR()">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
